.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px 	#90EE90, 0 0 40px 	#90EE90, 0 0 50px 	#90EE90, 0 0 60px 	#90EE90, 0 0 70px 	#90EE90;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #34924a, 0 0 40px #34924a, 0 0 50px #34924a, 0 0 60px #34924a, 0 0 70px #34924a, 0 0 80px #34924a;
    }
  }